kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  x509:
    clientCAFile: /etc/kubernetes/ca.crt
  anonymous:
    enabled: false
cgroupDriver: systemd
clusterDNS:
  - {{ cidrPrefix .ServiceCIDR }}.0.10
clusterDomain: cluster.local
featureGates:
  RotateKubeletServerCertificate: true
runtimeRequestTimeout: 10m
serializeImagePulls: false
serverTLSBootstrap: true
staticPodPath: /etc/kubernetes/manifests
