# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea/*

/manifests
/pki
/bin
/pull-secret.txt
/ssh-public-key

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/cluster.yaml
/hypershift
