{
        "auths": {
                "registry.ng.bluemix.net": {
                        "auth": "{{ registry_auth_config_value }}"
                },
                "registry.eu-de.bluemix.net": {
                        "auth": "{{ registry_auth_config_value }}"
                },
                "registry.eu-gb.bluemix.net": {
                        "auth": "{{ registry_auth_config_value }}"
                },
                "registry.au-syd.bluemix.net": {
                        "auth": "{{ registry_auth_config_value }}"
                }
        }
}

