[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=crio.service
Requires=crio.service

[Service]
ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/usr/bin/hyperkube kubelet \
  --config=/etc/kubernetes/kubelet.conf \
  --container-runtime=remote \
  --container-runtime-endpoint=/var/run/crio/crio.sock \
  --bootstrap-kubeconfig=/etc/kubernetes/kubeconfig \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --node-labels=node-role.kubernetes.io/worker,node-role.kubernetes.io/master \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
